if theme.hitokoto
    div(style="width: 100%;text-align:center;")
        span(id="sentences-content", style="color: #ebb563;")
            != '一言...'
    div(style="width: 100%;text-align:center;")
        span(id="sentences-from")
            != '來源'
        script(type="text/javascript").
            fetch(`https://v1.hitokoto.cn/`)
            .then(response => response.json())
            .then(data => {
                var content = document.getElementById('sentences-content');
                content.innerText = data.hitokoto
                var from = document.getElementById('sentences-from');
                from.innerText = data.from + (data.from_who && data.from_who != data.from ? ' · ' + data.from_who : '')
            })
            .catch(console.error)